@page "/ugyfel/{ID:guid}"
@using Autoszerelo.DataClasses
@using Autoszerelo.UI.Services
@inject Autoszerelo.UI.Services.Interfaces.IUgyfelService UgyfelService
@inject NavigationManager NavigationManager

<PageTitle>Ugyfel</PageTitle>

<h3 class="text-center my-2">Ugyfel adatai</h3>
@if (Costumer is null)
{
    @if (hasNotLoaded)
    {
        <p>Betoltes alatt...</p>
    }
    else
    {
        <p>Nincs megjelenitheto ugyfel.</p>
    }
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nev</th>
                <th>Email</th>
                <th>Lakcim</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>@Costumer.Nev</td>
                    <td>@Costumer.Email</td>
                    <td>@Costumer.Lakcim</td>
                    <td><a href="ugyfel/update/@Costumer.Ugyfelszam" class="btn btn-primary">Adatok modositasa</a></td>
                    <td>
                        <button class="btn btn-warning text-end" @onclick="DeleteAsync">Ugyfel torlese</button>
                    </td>
                </tr>
        </tbody>
    </table>
    @if(Costumer.Munkak is null || Costumer.Munkak.Count == 0)
    {
        <h2 class="my-2 text-center">Nem tartozik az ugyfelhez rogzitett javitas.</h2>
    }
    else
    {
        <div class="table-responsive-xl">
        <h2 class="my-2 text-center">Az ugyfelhez tartozo munkak</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Munka kategoria</th>
                    <th scope="col">Hiba sulyossaga</th>
                    <th scope="col">Hiba leirasa</th>
                    <th scope="col">Jarmu rendszama</th>
                    <th scope="col">Jarmu gyartasi eve</th>
                    <th scope="col">Munka allapota</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var munka in Costumer.Munkak)
            {
                <tr>
                    <td>@munka.MunkaKategoria.ToString()</td>
                    <td>@munka.HibaSulyossaga</td>
                    <td>@munka.HibaRovidLeirasa</td>
                    <td>@munka.Rendszam</td>
                    <td>@munka.GyartasiEv</td>
                    <td>@munka.MunkaAllapot.ToString()</td>
                    <td><a href="munka/@munka.MunkaAzonosito" class="btn btn-primary">Munka reszletei</a></td>
                </tr>
            }
            </tbody>
        </table>
        </div>
    }
}

@code {
    [Parameter]
    public Guid ID { get; set; }
    private Ugyfel? Costumer { get; set; }
    private bool hasNotLoaded = true;

    protected override async Task OnInitializedAsync()
    {
        Costumer = await UgyfelService.Get(ID);
        hasNotLoaded = false;
    }

    private async Task DeleteAsync()
    {
        await UgyfelService.Delete(Costumer.Ugyfelszam);
        NavigationManager.NavigateTo("/ugyfelek");
    }
}